html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
a{
	color:#f58022;
}
a:active{
	color:#f58022;
}
body {
	background: url(img/bg.png);
	font-family:Arial,Tahoma,Verdana,Nimbus Sans L,sans-serif;
}
/* СSS спойлеров */	
.spoiler_body{
	display:none;
}
.spoiler_links{
	cursor:pointer;
}
/* костыли */
.line_bottom {
	border-bottom: solid 1px #565656;
}
.arrowd{
	margin: -3px;
    margin-left: 5px;
}
.clearboth{
	clear:both;
}
/* основной CSS*/
.main_content_inner{
	width: 628px;
	height: 870px;
	border-radius: 20px 0 0 0px;
	padding: 10px;
}
/* шапка */
.urist__isonline /* Индикатор пользователя в сети*/{ 
	font-size:9px;
	font-weight: bold;
	color: #f58022;
}
.urist__isoffline /* Индикатор пользователя не в сети*/{
	font-size:9px;
	font-weight: bold;
	color: #FFFFFF;
}
.head-profile {
	width: 628px;
	height: 100%;
	border-radius: 20px 0 0 0px;
}
.uristnavigation {
	width: 140px;
	min-height: 100px;
	background: rgba(221,221,221,0.5);
	padding: 10px;
	border-radius: 20px 0 0 0px;
	float: left
}
.uristphoto {
	width: 126px;
	height: 126px;
	border-radius: 100%;
	border: solid 7px white;
}
.uristnavigation__photo {
	width: 140px;
	height: 140px;
}
/* кнопки */
.nav_left-urist {
list-style: none;
width: 140px;
margin: 5px 0 0 0;
}
.nav_left-hight{
	height:30px;
}
.nav_left-menu{
	height:35px;
}
.nav_left-spoil{
	height:20px;
}
.uristnavigation__toplinks {
	color: #f58022;
	padding-left: 44px;
	padding-top: 3px;
	font-size: 12px;
	display: inline-block;
	height: 24px;
	font-weight: bold;
}
.uristnavigation__links__impot {
	color: #f58022;
	padding-left: 44px;
	padding-top: 0px;
	font-size: 12px;
	display: inline-block;
	height: 30px;
	font-weight: bold;
}
.uristnavigation__links {
	color: #565656;
	padding-left: 44px;
	padding-top: 3px;
	font-size: 12px;
	display: inline-block;
	height: 24px;
	font-weight: bold;
}
.uristnavigation__links__spoil{
	color: #565656;
	padding-left: 10px;
	font-size: 10px;
	display: inline-block;
	height: 24px;
	font-weight: bold;
}
.google_ya
{
	color: #565656;
	font-size: 12px;
	display: inline-block;
	height: 35px;
	font-weight: bold;
	padding: 4px;
	float: left;
}
.google_ya_link {
	margin-left: 3px;
}
.uristnavigation__blag {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -2px;
}
.uristnavigation__topurist {
	background: url(img/icons.png) no-repeat;
	background-position: 1px -29px;
}
.uristnavigation__consult {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -147px;
}
.uristnavigation__mesage {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -177px;
}
.uristnavigation__portfoly {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -203px;
}
.uristnavigation__price {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -232px;
}
.uristnavigation__blog {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -259px;
}
.uristnavigation__friend {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -288px;
}
.uristnavigation__img {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -317px;
}
.uristnavigation__puplic {
	background: url(img/icons.png) no-repeat;
	background-position: 0px -371px;
}
.uristnavigation__gifts {
	background: url(img/gift.png) no-repeat;
	background-position: 0px 0px;
}
/* имя и информация */
.nobr{
	font-size:10px;
	white-space: nowrap;
}
.uristcontent{
	float: left;
	margin-top: 10px;
	width: 468px;
}
.page-title {
	background: #E6E6E6;
	min-height: 25px;
	padding: 12px 10px;
	color: #292929;
	font: normal 18px Arial;
}
.page-title-uris{
	background:none;
	color:#FFFFFF;
}
.page-title__title{
	text-align: right;
	margin-right: 15px;
}
.greeting {
	font-size: 15px !important;
	margin: 30px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
}
/* Иноформаци */
.uristcontent__body {
	background: #e2e2e2;
	min-height: 100px;
	width: 380px;
	margin: 34px;
	border-radius: 10px 0 0 0;
	padding: 10px;
}
.favorites__urist {
	color: #f58022;
	font-size: 10px;
	font-weight: 600;
	text-align:right;
}
/* заголовки */
.urist_cont_title {
	background: #565656;
	width: 100%;
	height: 24px;
	padding: 5px 0 0 5px;
	border-radius: 4px;
	margin-top: 10px;
}
.title_txt {
	font-size: 15px;
	color: white;
	float: left;
	margin-left: 5px;
}
.title_arrow_inf  {
	background: url(img/arrowr.png) no-repeat;
	background-position: 206px 0px;
}
.title_link_inf {
	color: white;
	padding-left: 78px;
	padding-right: 20px;
	font-size: 12px;
	display: inline-block;
	height: 18px;
	vertical-align: top;
	margin-top: 1px;
}
.title_arrow_otv {
	background: url(img/arrowr.png) no-repeat;
	background-position: 244px 0px;
}
.title_link_otv {
	color: white;
	padding-left: 174px;
	padding-right: 20px;
	font-size: 12px;
	display: inline-block;
	height: 18px;
	vertical-align: top;
	margin-top: 1px;
}
/* Инфо */
.urist__info{
	margin-top: 10px;
	padding-left: 15px;
}
.cl_inf{
	float: left;
	color: #908d86;
	font-size: 10px;
	text-align: left;
	height: 30px;
}
.cl_inf_left{
	font-style:italic;
	width: 130px;
}
.cl_inf_right{
	width: 230px;
}
/* Спойлер информации*/
.urist_spoil_allinfo{
	height:12px;
	background: url(img/arrow.png) no-repeat right;
	background-position-y: 1px;
}
.urist_spoil_allinfo_title{
	color: #767676;
	padding-right: 15px;
}
.urist_spoil_allinfo_body{
	width: 100%;
	text-align: right;
	font-size: 10px;
}
.ur_all_inf{
	width: 100%;
	text-align:left;
	color: #767676;
	font-size:10px;
}
/* ответы */
.urist_answer{
	margin-top:10px;
	border-bottom: #787878 1px solid;
}
.urist_answer_q{
	float: left;
	width: 280px;
	min-height: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #f58022;
	text-decoration: underline;
	padding-left: 10px;
	padding-bottom: 5px;
}
.urist_answer_date{
	width: 80px;
	font-size: 9px;
	color: #787878;
	min-height: 20px;
	float: left;
	padding-left: 5px;
	text-align: center;
}